BoomiToIS-API/output_test_xml_to_json/CSV to XML Convertor/src/main/resources/xsd/Products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xsd:element name="Products">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Product" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ProductID" type="xsd:string"/>
              <xsd:element name="ProductName" type="xsd:string"/>
              <xsd:element name="Price" type="xsd:decimal"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
