generated-output-NOT-REQUIRED/SuccessFactors Employee Data Sync with NAVEX for Speak Up Investigations/src/main/resources/xsd/dell.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/Atom" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="feed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="content">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CompoundEmployee">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="person">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:short" name="person_id_external"/>
                                <xs:element name="personal_information">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="first_name"/>
                                      <xs:element type="xs:string" name="last_name"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="employment_information">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="email_address"/>
                                      <xs:element type="xs:string" name="employment_status"/>
                                      <xs:element type="xs:string" name="employee_class"/>
                                      <xs:element type="xs:string" name="pay_grade"/>
                                      <xs:element type="xs:string" name="location"/>
                                      <xs:element type="xs:string" name="company_territory_code"/>
                                      <xs:element type="xs:int" name="manager_id"/>
                                      <xs:element type="xs:date" name="end_date"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="type"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>